<div class="container">
	<div class="pyc-section-two">
	<div class="pyc-section-two-content">
		<div class="pyc-header-two">2 Easy Steps</div>

		<div class="steps-container">
			<div class="steps-left">
				<img src="images/icon-dropbox.jpg" /><br/>
				1. Move your repo into your Dropbox root folder to get an independent stamp of all code change
			</div>
			<div class="steps-right">
				<div><a href="#" ng-click="loginClicked();" onclick="return false;" id="loginDropbox" class="btn-white">Click here to link<br/>Dropbox account</a></div>
				<p class="fine-print">*Requires desktop <a href="https://www.dropbox.com/downloading" target="_blank">Dropbox client</a> to be installed</p>
			</div>
			<div class="clear-fix"></div>
		</div>
		<div class="steps-container-bottom">
			<div class="steps-left">
				<img src="images/icon-github.jpg" /><br/>
				2. Publish to GitHub and view your
			</div>
			<div class="steps-right">
				<div class="form-list">
					<ul>
						<li>Enter GitHub ID</li>
						<li><input type="text" id="gitUser" ng-model="user.username" placeholder="user name"></input></li>
						<li><a href="#" class="btn-white" ng-click="usernameChange()">Fetch Repos<a/></li>
					</ul>
					<ul>
						<li>Select Repo</li>
						<li><select ng-change="repoChanged()" ng-model="user.currentRepo" ng-options="o as o for o in user.repos"></select></li>
					</ul>
					<ul>
						<li>Select Branch</li>
						<li><select ng-model="user.currentBranch" ng-options="o as o for o in user.branches"></select></li>
					</ul>
					<!--ul>
						<li>&nbsp;</li>
						<li><a href="#" class="btn-white">Run Report</a></li>
					</ul-->
				</div>
			</div>
			<div class="clear-fix"></div>
		</div>
	</div>
	</div>
	
	<div class="pyc-section-three">

	<div class="pyc-header-three">Report Results</div>

	<table class="report-results">
		<tr class="table-header">
			<td class="report-titles"><img src="images/icon-clock.jpg" /><br/>Time</td>
			<td class="report-titles"><img src="images/icon-computer.jpg" /><br/>Computer<br/><span class="fine-print">Dropbox Signature</span></td>
			<td class="report-titles"><img src="images/icon-closingtag.jpg" /><br/>GitHub Commit</td>
		</tr>
		<tr ng-repeat="commit in user.currentCommits | startFrom:currentPage*pageSize | limitTo:pageSize">
		  <td>{{commit.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
		  <td>{{commit.hostId}}</td>
		  <td>{{commit.commit}}</td>
		</tr>
	</table>

	<div class="report-options">
		<ul>
			<li><a href="#" ng-click="saveToDropboxClick()" class="btn-black">Save to Dropbox</a></li>
			<li><a href="#" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><img src="images/arrow-left.jpg" /></a></li>
			<li>Pagination {{currentPage+1}}/{{numberOfPages()}}</li>
			<li><a href="#" ng-disabled="currentPage >= user.currentCommits.length/pageSize - 1" ng-click="currentPage=currentPage+1"><img src="images/arrow-right.jpg" /></a></li>
		</ul>
	</div>

	</div> 
</div>
